[submodule "Libraries/Opus"]
	path = Libraries/Opus
	url = git@github.com:xiph/opus.git
[submodule "Libraries/googletest"]
	path = Libraries/googletest
	url = https://github.com/google/googletest
[submodule "Libraries/benchmark"]
	path = Libraries/benchmark
	url = git@github.com:alisenai/benchmark.git
[submodule "Libraries/portaudio"]
	path = Libraries/portaudio
	url = git@github.com:PortAudio/portaudio.git
[submodule "Libraries/rapidjson"]
	path = Libraries/rapidjson
	url = git@github.com:Tencent/rapidjson.git
[submodule "Libraries/pffft"]
	path = Libraries/pffft
	url = git@github.com:marton78/pffft.git
